/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/*Formatear*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}
.linea{
    border-bottom: rgb(0,0,0) solid 5px;
    width: 200px;
    margin-bottom: 20px;
}
/*Logo*/
header img{
    width: 20%;
    height: 10%;
    background-color: rgb(249,0,77);
}
/*Estilos de texto*/
@font-face {
    font-family: 'Biko';
    src: url(../fonts/Biko_Regular.otf);
}
body main section article h2{
    font-weight: 600;   
    padding-bottom: 10px;
    font-size: 60px;
    color: rgb(0,0,0);
}
body main section article h3{
    font-weight: 200; 
    padding-bottom: 10px;
    font-size: 60px;
    color: rgb(0,0,0);
}
body main section article h4{
    font-weight: 300; 
    padding-bottom: 20px;
    font-size: 20px;
    color: rgb(0,0,0);
}
body main section article p{
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(0,0,0);
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.biko{
    font-family: 'Biko', sans-serif;
}
.left{
    text-align: left !important;
}
.textorojo{
    color:rgb(249,0,77);
}
.resaltador{
    background-color: rgb(246, 255, 0);
}
/*Cabecera*/
.header{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 100px;
}
.logo-sitio{
    display: flex;
    border: 10px;
    padding: 10px;
    margin: 0 0px;
}
.logo{
    font-size: 50px;
}
.bienvenida{
    text-align: left;
    color: rgb(255,255,255);
    font-size: 30px;
}

.btnmenu{
    display: none !important;
}
/**Estilo caja contacto**/
#borde-contacto{ 
    border: 1px solid rgb(255,255,255);
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 2px;
}
#contenedor-img{
    width: 100%;
}
.contenedor-img-inicio{
    background-image: url(../images/jpg/img-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content:end;
}
/**Texto sobre bienvenida diplomado**/
.parrafo-1{
    color:rgb(255,201,21);
    font-size: 20px; 
    text-transform:uppercase;
    padding: 7px;
}
.parrafo-2{
    color:rgb(255,255,255);
    font-size: 35px;
    font-weight: bold;
    padding: 7px;
}
.parrafo-3{
    color:rgb(255,255,255);
    font-size: 35px;
    font-weight: bold;
    padding: 7px;
}
.parrafo-2 span{
    color:rgb(249,0,77);
    font-size: 35px;
    font-weight: bold;
    margin-top: 45px;
    padding: 7px;
}
.parrafo-3 span{
    color:rgb(255,201,21);
    font-size: 35px;
    font-weight: bold;
    margin-top: 45px;
}
#contenedor-parrafos{
    width: 100%;
    height: 100%;
    padding-right: 10%;
    text-align: right;
    padding-top: 5%;
    backdrop-filter: brightness(40%);
}
#boton-parrafo{
    background-color:rgb(249,0,77);
    font-weight: bold;
    color: rgb(255,255,255);
    padding: 15px;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 5px;
    border-color: rgb(255,255,255);
}
/*Contenedor NAV menu*/
.contenedor-nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Estilo menu*/
header nav ul{
    display: flex;
    list-style-type: none;
    vertical-align: baseline;
}
header nav ul li{
    margin-left: 20px;
}
header nav ul li a {
    color: rgb(255,255,255);
    padding: 10px;
    text-decoration: none;
}
header nav li:hover {
    background: rgb(59, 80, 100);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
/*Contenedores ARTICLE*/
.home-red{
    min-height: 500px;
    background-color: rgb(255, 255, 255);
}
.home-black{
    min-height: 500px;
    background-color: rgb(226, 226, 226);
}
#home-header{
    background-image: url('../images/jpg/img-header.jpg');
    min-height: 500px;
}
.contenedor-home{
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    width: 80%;
    margin: 0 auto;
}
.contenedor-home h2{
    text-align: center
}
.home .contenedor-home p{
    text-align: justify;
    font-size: 20px;
    margin: 20px 0;
}
.home .contenedor-home img{
    margin: 20px 0;
}
/**Sección 1 "Diplomado DW**/
#seccion1 div .material-symbols-outlined {
    font-size: 110px;
    display: flex;
}
#seccion1{
display: flex;
align-items: baseline;
}
#seccion1 a{
    text-decoration: none;
    color:rgb(249,0,77)
}
.fa-circle-check{
    color:rgb(10, 217, 65)
}
#seccion1 p{
    margin-bottom: 60px;
}
#seccion1 a,
#seccion1 p .textorojo{
    text-decoration: underline;
}
/**Estilo contenedores formato IMAGEN**/
.formato-img{
    width: 250px;
    height: 300px;
    background-color: rgb(49, 49, 49);
    color: rgb(255,255,255);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
#contenedor-formato-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}
#titulo-formato-img{
    text-align: center;
    padding: 30px;
    margin-top: 3%;
    font-size: 60px;
}
.contenedor-formato-img-2{
    width: 260px;
    height: 302px;
    font-size: 40px;
    margin: 30px 40px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: rgb(49, 49, 49);
    color: rgb(255,255,255);
}
.formato-img-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
#parrafo-float{
    font-size: 25px;
    line-height: 50px;
}
/* CAJAS 5 COLORES*/
.contenedor-imagenes{
    /*display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 20px;
    width: 90%;*/

    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 500px;*/
    width: 100%;
    height: auto;
    
    
}
#colorrosado{
    background-color: rgb(249,0,77);
}
#coloramarillo{
    background-color: rgb(255,201,21);
}
#colorazul{
    background-color: rgb(1, 168, 217);
}
.caja1{
    width:32%;
    height: 200px;
    margin: 3px;
    float: left;
}
.caja2{
    width:48%;
    height: 200px;
    margin: 3px;
    float: left;
}
#colorverde{
    background-color: rgb(13, 175, 26);
}
#colornegro{
    background-color:rgb(0,0,0);
}
#formato-img-2{
    width:20%;
    height: 250px;
    background-color: rgb(98, 98, 98);
    color: rgb(0,0,0);
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 20px;
}
/**Cajas colores**/
#contenedor-cajas-color{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}
#caja-amarilla{
    width:250px;
    height: 200px;
    background-color: rgb(255,201,21);
    border-radius: 10px;
}
#caja-rosada{
    width:250px;
    height: 200px;
    background-color: rgb(249,0,77);
    border-radius: 10px;
}
#caja-negra{
    width:250px;
    height: 200px;
    background-color: rgb(0,0,0);
    border-radius: 10px;
}
#caja-blanca{
    width:250px;
    height: 200px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    border: 1px solid rgb(0,0,0);
}
.parrafo-cajas-color{
    font-weight: bold;
    text-transform:uppercase;
    margin-top: 10px;
}
/**Sección Uso de Flexbox**/
#contenedor-flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px;
    width: 80%;
    background-color: rgb(248, 30, 3);
    margin: 0 auto;
}
#article-flexbox{
    background-color:rgb(248, 30, 3);
}
.item-cuadrado{
    width:250px;
    height:250px;
    background-color: rgb(37, 37, 37);
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:rgb(255,255,255);
    font-size: 30px;
}
.item-rectangulo-chico{
    width:250px;
    height:150px;
    background-color: rgb(37, 37, 37);
    margin-bottom:20px;
    margin-top:5%;
    display: flex;
    align-items: center;
    justify-content:center;
    color:rgb(255,255,255);
    font-size: 30px;
}
.item-rectangulo-grande{
    width:48.5%;
    height:300px;
    background-color: rgb(37, 37, 37);
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    color:rgb(255,255,255);
    font-size: 30px;
}
#titulo-flexbox{
    color:rgb(255,255,255);
    text-align:center;
    margin-top:30px;
    padding:50px;
}
/**Sección galería de imágenes CCS Grid**/
div#grid-galeria article{
    border: 1px solid black;
}
div#grid-galeria{
    display: grid;
    grid-template: repeat(3, 33.33vh) / repeat(4, 32.50%);
    gap: 10px;
    max-height: 660px;
}

div#grid-galeria article:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(../images/jpg/foto3.jpg);
    background-size: 100% 100%;  
}

div#grid-galeria article:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(../images/jpg/foto1.jpg);
    background-size: 100% 100%;
}

div#grid-galeria article:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-image: url(../images/jpg/foto2.jpg);
    background-size: 100% 100%;
}

div#grid-galeria article:nth-child(4){
    grid-column: 2 / 4;
    grid-row: 3 / 2;
    background-image: url(../images/jpg/foto4.jpg);
    background-size: 100% 100%;
}
.bold{
    font-weight: 700;
    }
/*Footer*/
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(0,0,0);
    display: flex;
    color: rgb(255,255,255);
    padding: 20px;
    justify-content: space-around;
}
.footer{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    font-size: 30px;
}
/* Div Iconos Redes Sociales */
.rd{
    display: flex;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
/* Icono Redes Sociales */
.rd .iconord{
    padding: 10px;
}
a:active {
    background-color: rgb(63, 62, 62);
    color: rgb(255,255,255);
    border-radius: 5px;
}
.url-footer{
    text-decoration: none;
    padding: 10px;
    margin-left: 100px;
    color:rgb(255,255,255);
}
/* sección Medidas */
#secmedidas article div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#secmedidas article div div{
    display: flex;
    width: 50%;
    align-items: center;
}
#secmedidas article div div h4{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

/* CSS PAGINA INTERIOR */
.contenedor-img-inicio-int{
    background-image: url(../images/jpg/img-header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content:end;
}
.parrafo-1-interior{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.parrafo-medio{
    text-align: center;
    color: rgb(51,51,51);
    font-size: 40px;
}
.home-black-int{
    min-height: 100%;
}
.banner{
    background-color:rgb(248, 30, 3) ;
    height: 702px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 0px 0px;
}
.parrafo-medio{
    font-size: 30px;
    font-weight: bold;
    margin: 2% 4%;
}
.seccion1-int{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Reproductor */

.reproductor{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
}

/* Galeria */
article h2 .titulo-galeria{
    display: flex;
    text-align: center;
    
}
#galeriagris{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    width: 80%;
    margin: auto;
}

#galeriagris .divcontent{
    width: 20%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#galeriagris .divcontent img{
    width: 40px;
    height: 40px;
    
}
#galeriagris .divcontent:nth-child(odd){
    background-color: #808080;
    background-image: url(../images/jpg/ios-image-negro.png);
    background-repeat: no-repeat;
    background-position: center;
}
#galeriagris .divcontent:nth-child(even){
    background-color: #c7c7c7;
    background-image: url(../images/jpg/ios-image.png);
    background-repeat: no-repeat;
    background-position: center;
}


/* Contenido */

.contenido h2{
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
padding-top: 3%;
font-size: 50px;

}
#cajas-negras{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 30px;
    
}
#cajas-negras div{
    width: 22%;
    height: 200px;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    font-size: 20px;
    justify-content: center;
}
#cajas-negras div p{
    color: #ffff;
    font-size: 80%;
}
#cajas-negras div img{
margin-left: 5%;
}
.main{
    width: 80%;
    padding: 0px 20px;
    float: left;
}
.titulo-galeria{
    font-size: 40px;
    font-weight: bold;
    margin-left: 5%;
}
.contenido h2{
    font-size: 40px;
    font-weight: bold;
}

